
body {  
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
                Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
                "Helvetica Neue", sans-serif;
    font-weight: 400;
    color: white;
    background-color: #12161a;
    line-height: 1.6;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}
nav {
    text-align: center;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
    color: #d2929f;
}
